<?xml version="1.0"?>
<!--
/**
 * Agt Coding Challenge.
 *
 * @category    AG
 * @package     Agt_LiveChat
 * @author      Kusal Fernando <kusal@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="Agt_LiveChat" translate="label" sortOrder="200">
			<label>Live Chat</label>
		</tab>
		<section id="livechat" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
			<class>separator-top</class>
			<label>Settings</label>
			<tab>Agt_LiveChat</tab>
			<resource>Agt_LiveChat::chat_configs</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="license" translate="label" type="password" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>License</label>
					<comment>Enter your License Ie: 12333ESD38459HH</comment>
				</field>
			</group>
			<group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Advanced</label>
				<field id="group" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Group</label>
				</field>
				<field id="params" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Params</label>
				</field>
			</group>
		</section>
	</system>
</config>
